<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="admin/include/layout">
    <head>
        <title>首页</title>
    </head>
    <body>
		  <!-- 中间内容 -->
		  <div class="content-wrapper" layout:fragment="content-wrapper">
		  
		    <!-- tab 页 -->
		    <section class="content-header">
		      <h1>
		              首页
		        <small>欢迎光临!</small>
		      </h1>
		      <ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
		        <li class="active">控制面板</li>
		      </ol>
		    </section>
		
		    <!-- 主体内容 -->
		    <section class="content">
		
		
		
			1234
		
		
		
		
		    </section>
		    
		
		  </div>


    </body>
</html>
