<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="msapplication-TileColor" content="#0e90d2">
    <meta name='description' content="基于springboot、mybatis-plus、bootstrap3、adminLTE、amazeUI等诸多优秀框架开发的个人博客系统"/>
    <meta name="keywords" content="java, springboot,响应式博客,个人博客,blog"/>
    <link rel="stylesheet" href="/amazeui/css/amazeui.min.css">
    <link rel="stylesheet" href="/amazeui/css/app.css">
    <link rel="stylesheet" href="/front/css/common.css">

    <script src="/jquery/jquery-3.2.1.min.js"></script>
    <script src="/jquery/jquery-migrate-3.0.0.min.js"></script>
    <script src="/amazeui/js/amazeui.min.js"></script>
    <script src="/plugins/layer/layer.min.js"></script>
    <!--[if lt IE 9]>
    <script src="/html5shiv/html5shiv.min.js"></script>
    <script src="/respond/respond.min.js"></script>
    <![endif]-->
</head>