<div class="am-u-md-4 am-u-sm-12 blog-sidebar" th:fragment="side">
    <div class="blog-sidebar-widget blog-bor">
        <h2 class="blog-title"><span>全部分类</span></h2>
        <ul class="ztree" id="categoryList">
        </ul>
    </div>
    <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
        <h2 class="blog-title"><span>热门标签</span></h2>
        <div class="am-u-sm-12 blog-clear-padding" id="tagList">
        </div>
    </div>
    <!--<div class="blog-sidebar-widget blog-bor">-->
        <!--<h2 class="blog-text-center blog-title"><span>关于作者</span></h2>-->
        <!--<img src="/front/img/portrait.jpg" alt="about me" class="blog-entry-img" >-->
        <!--<p></p>-->
    <!--</div>-->
    <!--<div class="blog-sidebar-widget blog-bor">-->
        <!--<h2 class="blog-text-center blog-title"><span>联系我</span></h2>-->
        <!--<p>-->
            <!--<a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>-->
            <!--<a href=""><span class="am-icon-github am-icon-fw blog-icon"></span></a>-->
            <!--<a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>-->
            <!--<a href=""><span class="am-icon-reddit am-icon-fw blog-icon"></span></a>-->
            <!--<a href=""><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>-->
        <!--</p>-->
    <!--</div>-->
    <link href="/plugins/jquery-ztree/3.5.12/css/zTreeStyle/zTreeStyle.min.css" rel="stylesheet" type="text/css"/>
    <script src="/plugins/jquery-ztree/3.5.12/js/jquery.ztree.all-3.5.min.js" type="text/javascript"></script>
    <script src="/front/js/side.js"></script>
</div>