<?xml version="1.0" encoding="UTF-8"?>
<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->
<configuration debug="false" scan="true" scanPeriod="1000 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/usr/blog/log/blog.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/usr/blog/log/blog-%d{yyyyMMdd}.log.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>20</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n
            </Pattern>
        </layout>
    </appender>


    <logger name="com.wangbowen" level="INFO" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.mybatis" level="INFO" />
    <root level="INFO">
        <appender-ref ref="file" />
    </root>
</configuration>