<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangbowen.modules.sys.mapper.SysLogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wangbowen.modules.sys.entity.SysLog">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="create_by" property="createBy" />
		<result column="create_by_name" property="createByName" />
		<result column="create_date" property="createDate" />
		<result column="remote_addr" property="remoteAddr" />
		<result column="user_agent" property="userAgent" />
		<result column="request_uri" property="requestUri" />
		<result column="method" property="method" />
		<result column="params" property="params" />
		<result column="exception" property="exception" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, create_by AS createBy, create_by_name AS createByName, create_date AS createDate, remote_addr AS remoteAddr, user_agent AS userAgent, request_uri AS requestUri, method, params, exception
    </sql>

</mapper>
