<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangbowen.modules.cms.mapper.CmsArticleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wangbowen.modules.cms.entity.CmsArticle">
		<id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
        <result column="del_flag" property="delFlag" />
		<result column="category_id" property="categoryId" />
		<result column="tags" property="tags" />
		<result column="title" property="title" />
		<result column="short_title" property="shortTitle" />
		<result column="description" property="description" />
		<result column="content" property="content" />
		<result column="author" property="author" />
		<result column="thumbnail" property="thumbnail" />
		<result column="link_url" property="linkUrl" />
		<result column="praise_total" property="praiseTotal" />
		<result column="view_total" property="viewTotal" />
		<result column="share_count" property="shareCount" />
		<result column="read_count" property="readCount" />
		<result column="status" property="status" />
		<result column="allow_comment" property="allowComment" />
		<result column="remarks" property="remarks" />
		<result column="sort" property="sort" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
	create_by AS createBy,
	create_date AS createDate,
	update_by AS updateBy,
	update_date AS updateDate,
	del_flag AS delFlag,
        id, category_id AS categoryId, tags, title, short_title AS shortTitle, description, content, author, thumbnail, link_url AS linkUrl, praise_total AS praiseTotal, view_total AS viewTotal, share_count AS shareCount, read_count AS readCount, status, allow_comment AS allowComment, remarks, sort
    </sql>

</mapper>
