<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="front/include/layout">
<head>
    <title>关于我们</title>
    <script src="/front/js/index.js"></script>
</head>
<body>
    <!-- content srart -->
    <div layout:fragment="content">
        <div class="am-u-md-8 am-u-sm-12">
            <article class="am-article blog-article-p">
                <div class="am-article-bd">
                    <img src="/front/img/f22.jpg" alt="" class="blog-entry-img blog-article-margin">
                </div>
            </article>
        </div>
    </div>
    <!-- content end -->
</body>
</html>